{% extends 'base.html.twig' %}

{% block title %}
	{{ question.title }}
{% endblock %}

{% block styleSheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/question_show.css') }}">
{% endblock %}

{% block body %}

	<div class="block">
		<div class="pb-30 d-flex flex-row-nowrap align-center">
			<h3 class="mr-10">{{ question.title }}</h3>
			<div class="question-tag">QUESTION</div>
			<img class="avatar ml-auto" src="https://randomuser.me/api/portraits/men/6.jpg">
		</div>
		<p class="question-text">{{ question.content }}</p>
		<div class="separator"></div>
		{% for comment in question.comments %}
            <div class="question-response-elem">
                <div class="d-flex flex-row-nowrap align-center">
                    <img src="https://randomuser.me/api/portraits/men/18.jpg" class="avatar mr-10">
                    <p>Ahmed Khechich</p>
                    <span>12/12/23</span>
                </div>
            </div>
        {% endfor %}
		<h3 class="pb-20">Votre réponse</h3>
		<div class="comment-form">
			{{ form_start(form) }}
			{{ form_rest(form) }}
			<button class="btn btn-primary">Soumettre</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
