<div class="d-flex flex-col mr-20 align-center">
    <a href="{{ from == 'question' ?  path('question_rating', { id: id,  score: 1}) : path('comment_rating', { id: id,  score: 1}) }}">
	    <i class="fas fa-arrow-up  {{ rating > 0 ? " rating-up" : '' }}"></i>
    </a>
	<p {% if rating > 0 %} 
            class="rating-up text-small" 
        {% elseif rating < 0 %} 
            class="rating-down text-small" 
        {% else %} 
            class="text-small" 
        {% endif %} >{{ rating }} 
    </p>
    <a href="{{ from == 'question' ?  path('question_rating', { id: id,  score: -1}) : path('comment_rating', { id: id,  score: -1}) }}">
        <i class="fas fa-arrow-down  {{ rating < 0 ? " rating-down" : '' }}"></i>
    </a>
</div>